.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form-container {
  max-width: 460px;
  width: calc(100% - 32px);
  min-width: 328px;
  padding: 40px 30px;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02),
    0px 32px 64px rgba(44, 39, 56, 0.04);
  border-radius: 24px;
}
.form-title {
  padding-bottom: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #2c2738;
}
.form-description {
  margin-bottom: 55px;
}
.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2c2738;
}
.form-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  color: #0880ae;
}
.form-btn {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ebf4f8;
  background: #0880ae;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08),
    0px 4px 8px rgba(44, 39, 56, 0.08);
  border-radius: 6px;
  padding: 18px 21px;
  cursor: pointer;
}
.form-btn:disabled {
  background: #dbe2ea;
  color: #b1b5bf;
  cursor: default;
}
